@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-Yellow: #f4d04e;
  --clr-White: #ffffff;
  --clr-Grey: #808080;
  --clr-Black: #121212;

  --ff-main: "Figtree", sans-serif;
  --fs-main: 16px;
  --fw-600: 600;
  --fw-800: 800;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

h1 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  color: var(--clr-Grey);
  font-weight: var(--fw-600);
  background-color: var(--clr-Yellow);
}

/* text Styless */
.tiny-card {
  background-color: var(--clr-Yellow);
  color: var(--clr-Black);
  font-weight: var(--fw-800);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.published-date {
  font-size: 14px;
  font-weight: var(--fw-600);
  color: var(--clr-Black);
}

.header {
  font-weight: var(--fw-800);
  color: var(--clr-Black);
  font-size: 1.5rem;
}

.author-name {
  color: var(--clr-Black);
  font-size: 14px;
  font-weight: var(--fw-800);
}

/* Layout Styles */
.avatar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* General Styles */
.wrapper {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}
.content {
  background-color: var(--clr-White);
  padding: 1.5rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  box-shadow: 7px 7px 0px var(--clr-Black);
  max-width: 23em;
  transition: box-shadow 0.3s ease;
}

.content:hover {
  box-shadow: 10px 10px 0px var(--clr-Black);
}

.header:hover {
  color: var(--clr-Yellow);
  cursor: pointer;
  transition: color 0.3s ease;
}

/*Grabbing All the elements inside the container*/

.content > * + * {
  margin-top: 1rem;
}

.avatar {
  width: 3rem;
}

.main-image {
  border-radius: 0.7rem;
}
